h1 {

  text-align: center;
  width:100%;
  font-family: 'Nunito', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-size: 3.8em;
  margin-bottom:0;
  margin-left: auto;
  margin-right: auto;
  padding:0;
  text-shadow: 2px 2px black;
  color: #FFFFFF;
}

h2{
  text-align: center;
  width:100%;
  font-family: 'Nunito', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  margin-top: 0;
  margin-bottom:0;
  margin-left: auto;
  margin-right: auto;
  padding:0;
  text-shadow: 2px 2px black;
  color: #FFFFFF;
  overflow: hidden;
}

a:link {
  color: #FFFFFF;
}

/* visited link */
a:visited {
  color: #FFFFFF;
}

/* mouse over link */
a:hover {
  color: #000000;
}

ul{
  list-style-type: none;
  text-align: center;
  display: inline-block;
  width:100%;
  color: #FFFFFF;
  
  margin-top: 3%;
  margin-left: 0%;
  margin-right: 10%;
  padding-top: 0%;
  margin-bottom: 0%;
  line-height: 4em;
  position: absolute;
  justify-content: center;

}

li{
  font-family: 'Nunito', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5em;
  width: 100%;

}

.background_container {
  height: 100%;
  width: 100%;
  background: url("background1.jpg");
  background-size: cover;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  position: absolute;
}

.list_container{
  height: 80%;
  width: 23%;
  background: url("listelement.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
   top: 19%;
  right: 0px;
  bottom: 0px;
  left: 0%;
  margin: 0 auto;
  position: absolute;
  display: flex;
  justify-content: center;
}

.textdiv{
  color: #000000;
  font-family: 'Nunito', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-size: 80%;
  position: relative;
  bottom: 0;
  
}



